body{background-color: brown ;}
body{background-image: url(mickey.jpg);}

h1{color: rgb(241, 0, 0);}

h2{color: blue;}

body{background-image: ;}
body{background-repeat: no-repeat;}
body{background-size: cover;}
 